@using CesiZenInfrastructure.Dto

@{
    ViewData["Title"] = "Activités";
    var roleId = ViewBag.RoleId;
}

<!-- Titre principal -->
<h1 style="text-align: center; font-size: 2.5rem; color: #333; margin-bottom: 30px; font-weight: 600;">
    @ViewData["Title"]
</h1>

<!-- Bouton "+" -->
@if (roleId == 2)
{
    <div style="text-align: right; margin: 0 30px 20px 0;">
        <a class="nav-link text-white" asp-area="" asp-controller="Activite" asp-action="CreateActivity"
           style="display: inline-block; background-color: #28a745; color: white; font-size: 1.5rem; padding: 10px 20px; border-radius: 50%; text-decoration: none; box-shadow: 0 4px 6px rgba(0,0,0,0.1); transition: background-color 0.3s;">
            +
        </a>
    </div>
}

<!-- Grille d'activités -->
<div style="display: grid; grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); gap: 20px; height: auto; padding: 20px;">
    @foreach (var activity in (List<ActiviteDto>)ViewData["Activities"])
    {
        var RouteNom = activity.Nom.Replace(" ", "").Replace("-", "");

        <!-- Vérification de roleId pour rendre les activités non cliquables si roleId == null -->
        @if (roleId != null)
        {
            <a class="nav-link text-white" href="@Url.Action("LoadActivity", "Activite", new { id = activity.Id, redirectTo = RouteNom })">
                <div style="border: 2px solid #444; background-color: #2E8B57; color: white; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 25px; border-radius: 12px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);">
                    <h3 style="font-size: 1.5rem; font-weight: bold; margin-bottom: 15px; text-align: center; letter-spacing: 0.5px;">
                        @activity.Nom
                    </h3>
                    <p style="font-size: 1rem; text-align: center; line-height: 1.5; margin: 0;">
                        @activity.Description
                    </p>
                </div>
            </a>
        }
        else
        {
            <div style="border: 2px solid #444; background-color: #ddd; color: #aaa; display: flex; flex-direction: column; justify-content: center; align-items: center; padding: 25px; border-radius: 12px; box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); cursor: not-allowed;">
                <h3 style="font-size: 1.5rem; font-weight: bold; margin-bottom: 15px; text-align: center; letter-spacing: 0.5px;">
                    @activity.Nom
                </h3>
                <p style="font-size: 1rem; text-align: center; line-height: 1.5; margin: 0;">
                    @activity.Description
                </p>
            </div>
        }
    }
</div>
